body {
    font-family: 'Montserrat';
}

#title {
    background-color: #1e2361;
    color: #fff;
}

h1 {
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    /* color: #fff; */
    font-family: "Montserrat";
    line-height: 1.5;
    font-size: 3rem;
}

h3 {
    font-family: "Montserrat";
}

p {
    color: #8f8f8f;
    font-size: 1rem;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
    color: #fff;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;
    /* color : white; */
    /* font-size: 1rem; */
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monteserrat-Light";
    /* color : white; */
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
    /* font-weight: bold; */
}

.download-button:hover {
    background-color: gray;
    transition: 0.5s;
}

/* Title Image */

.title-image {
    width: 100%;
    /* transform: rotate(20deg); */
    right: 0;
    border-radius: 10%;
}

/* About Me */

#aboutme {
    padding: 7% 15%;
    /* text-align: center; */
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 1rem;
}

.aboutme-img {
    width: 100%;
    /* transform: rotate(20deg); */
    /* position: absolute; */
    right: 0%;
    border-radius: 10%;
}

.aboutme-fa {
    padding: 5px 25px 0px 0px;
    font-size: 1.2rem;
    color: gray;
}

.aboutme-fa:hover {
    color: #1e2361;
}

.mail-link {
    padding: 5px 25px 0px 0px;
    font-size: 1rem;
    color: gray;
}

/* Skill Section */


#skill {
    /* padding: 50px; */
    background-color: #1e2361;
    text-align: center;
    color: wheat;
}

.skill-image1 {

    width: 24%;
    border-radius: 10%;
    padding: 25px;
}

.skill-image2 {

    width: 20%;
    border-radius: 10%;
    padding: 25px;
}

.skill-image3 {

    width: 26%;
    border-radius: 10%;
    padding: 25px;
}

.carousel-item {
    padding: 7% 15%;
}


/* Contact Section */

#contact {
    background-color: rgb(0, 0, 0);
    padding: 2% 2% 1% 2%;
    text-align: center;
    color: gray;
}

#contact a {
    color: gray;
}

#contact .aboutme-fa:hover {
    color: rgb(255, 255, 255);
}

@media (max-width:900px) {
    #title {
        text-align: center;
    }

    
    .title-h1
    {
        text-align: center;
        font-size: 2rem;
        line-height: 1.5;
        font-weight: bold;
    }


    .title-image {
        position: static;
        /* transform: rotate(0); */
    }

    #aboutme {
        text-align: center;
    }

    .aboutme-img {
        position: static;
    }

    .skill-image1 {

        width: 40%;
        border-radius: 10%;
        padding: 25px;
    }

    .skill-image2 {

        width: 40%;
        border-radius: 10%;
        padding: 20px;
    }

    .skill-image3 {

        width: 40%;
        border-radius: 10%;
        padding: 25px;
    }

}